<mat-toolbar [routerLink]="'/'" color="accent">
  <h1>Star Wars Universe</h1>
  <span class="spacer"></span>
  <span>checking out the <a href="https://swapi.co" target="_blank">SWAPI</a></span>
</mat-toolbar>
<nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let r of resources"
     [routerLink]="r.toLowerCase()"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{ r }}
  </a>
</nav>

<p *ngIf="(error$ | async) as error" class="error">
  {{error}}
</p>

<router-outlet></router-outlet>
