<mat-card>
  <mat-card-header>
    <mat-card-title>{{starship.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Starship class:</dt>
      <dd>{{starship.starship_class}}</dd>

      <dt>Model:</dt>
      <dd>{{starship.model}}</dd>

      <dt>Manufacturer:</dt>
      <dd>{{starship.manufacturer}}</dd>

      <dt>Cost:</dt>
      <dd>{{starship.cost_in_credits > 0 ? (starship.cost_in_credits | number: '1.0-0') + 'credits' : 'Unknown'}}</dd>

      <dt>Length:</dt>
      <dd>{{starship.length | number: '1.0-0'}}m</dd>

      <dt>Cargo capacity:</dt>
      <dd>{{starship.cargo_capacity | number: '1.0-0'}}</dd>

      <dt>Hyperdrive rating:</dt>
      <dd>{{starship.hyperdrive_rating}}</dd>

      <dt>Consumables:</dt>
      <dd>{{starship.consumables}}</dd>
    </dl>
  </mat-card-content>
</mat-card>
