/*Primary*/
$mp-primary: #118579;
$mp-primary-dark: #00726c;
$mp-primary-light: #91c900;

/*Secondary*/
$mp-accent: #4A5E6F;
$mp-accent-dark: #304855;
$mp-accent-light: #8facbb;

/* warn */
$mp-warn: #ff253e;

$mp-off-white: #ECEDED;
$mp-white: #fff;
$mp-silver: #DADBDB;
$mp-grey: #3E3D40;
$mp-blue-grey: #91989D;
$mp-slate-blue: #39464F;
$mp-blue: #0D83E1;
$mp-orange: #ec9237;

$emerald: (
50 : #e2f0ef,
100 : #b8dad7,
200 : #88c2bc,
300 : #58aaa1,
400 : #35978d,
500 : #118579,
600 : #0f7d71,
700 : #0c7266,
800 : #0a685c,
900 : #055549,
A100 : #88ffea,
A200 : #55ffe1,
A400 : #22ffd8,
A700 : #09ffd3,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
)
);

$sapphire: (
50 : #e9ecee,
100 : #c9cfd4,
200 : #a5afb7,
300 : #808e9a,
400 : #657685,
500 : #4a5e6f,
600 : #435667,
700 : #3a4c5c,
800 : #324252,
900 : #223140,
A100 : #87c1ff,
A200 : #54a6ff,
A400 : #218cff,
A700 : #087fff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
)
);

$ruby: (
50 : #ffe5e8,
100 : #ffbec5,
200 : #ff929f,
300 : #ff6678,
400 : #ff465b,
500 : #ff253e,
600 : #ff2138,
700 : #ff1b30,
800 : #ff1628,
900 : #ff0d1b,
A100 : #ffffff,
A200 : #fff6f7,
A400 : #ffc3c6,
A700 : #ffaaad,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
)
);

