@import 'pallette';

/*text*/
$primary-text: $mp-primary;
$primary-text-dark: $mp-primary-dark;
$primary-text-light: $mp-primary-light;

$accent-text: $mp-accent;
$accent-text-dark: $mp-accent-dark;
$accent-text-light: $mp-accent-light;

$white-text: $mp-white;
$warning-text: $mp-warn;
$grey-text: $mp-blue-grey;
